body {
  background-color: #f5f5f5;
}

ul {
  list-style: none;
}

textarea {
  width: 90%;
  margin: 10px auto;
}

.cen-ptn {
  display: flex;
  justify-content: center;
}

.cen-name {
  display: block;
  text-align: center;
}

@media (max-width: 992px) {
  /* lg未満の場合  */
  .post-comment {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
}

/************************* book info 1つの本の塊まわり ********************************/
.one-book {
  background-color: #fff;
  border-radius: 0.45rem;
  padding: 30px 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.book-text {
  color: #000;
}

.img-size {
  height: 210px;
}

.star-rating {
  position: relative;
  width: 5em;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 10;
  overflow: hidden; /*指定幅からはみ出した部分を隠す。*/
  white-space: nowrap; /*widthが足りない時に、折り返さないようにする。 */
  color: #ffcc33;
  height: 25px;
}

.star-rating-back {
  display: inline;
  color: #ccc;
  float: left;
}

.star-rating-comment-front {
  display: inline;
  color: #ffcc33;
  float: left;
}

.average-score {
  justify-items: center;
}
/************************** _header_view.php **********************************/
.logo {
  width: 160px;
}

/************************** _footer_view.php **********************************/
.footer {
  width: 100%;
  height: 80px;
  line-height: 80px;
  margin-top: auto;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/************************** detail.php **********************************/
.comment-box {
  background-color: #fff;
  border-radius: 0.45rem;
  padding-bottom: 15px;
}

.comment-scroll {
  background-color: #f9f9f9;
  height: 215px;
  overflow-y: scroll;
}

.comment-scroll::-webkit-scrollbar {
  width: 10px;
}

.comment-scroll::-webkit-scrollbar-track {
  background-color: #9cc;
  border-radius: 8px;
}

.comment-scroll::-webkit-scrollbar-thumb {
  background-color: #045;
  border-radius: 8px;
}

.radio {
  color: #ffcc33;
}

.send-btn {
  display: flex;
  margin: 0 auto;
}

.result {
  margin: 300px;
}
